*.iml
.gradle
/local.properties

/.idea/*
!/.idea/detekt.xml
!/.idea/encodings.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/feature/*/build/
/libs/*/build/
/jd-libs/*/build/
/api/*/build/

/.kotlin/*
